body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form-content {
  margin: auto;
  max-width: 500px;
  padding: 0em 1em;
}

#main-container {
  background-color: #DEDEDE;
  background-size: cover;
  background-position: 0;
  border-radius: 1em;
  padding: 10em 0em;
  margin: 2em auto;
}


.img-fluid {
  width: 500px;
}

.row {
  justify-content: space-between;
  padding: 0.5em 0em;
}

.card {
  margin: 1em;
  width: fit-content;
  overflow-wrap: normal;
  /* display: inline-block !important; */
  padding: 0px !important;
  transition-property: transform;
  transition-duration: 0.1s;
  cursor:pointer;
  display: flex;
  flex-wrap:wrap
}

/* .card:hover {
  transform: scale(1.02);
} */

.card-text, h5 {
  color: gray;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-top: 2px solid black;
}

.half-width {
  width: 50%;
}

#beau {
  background-image: url("./images/beau.png");
  border-style: solid;
  border-color: #2B2D42;
}

#matt {
  background-image: url("./images/matt.png");
  border-style: solid;
  border-color: #2B2D42;
}

#chris {
  background-image: url("./images/chris.png");
  border-style: solid;
  border-color: #2B2D42;
}

#jacob {
  background-image: url("./images/jacob.png");
  border-style: solid;
  border-color: #2B2D42;
}

#milsap {
  background-image: url("./images/milsap.png");
  border-style: solid;
  border-color: #2B2D42;
}

.about {
  max-width: 100%;
  padding: 50px;
}

.headshot {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}


